@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fefefe;
  background: linear-gradient(
    180deg,
    rgba(200, 130, 0, 0.2) 0%,
    rgba(255, 255, 0, 0.2) 40%,
    rgba(254, 254, 254, 1) 80%
  );
}

.about {
  grid-area: about;
  &__header {
    color: #252422;
  }
  &__link {
    color: #eb5e28;
    text-decoration: none;
  }
}

.article {
  &__header {
    color: #252422;
  }
  &__image {
    max-width: 550px;
    width: 100%;
  }
}

.content {
  grid-area: content;
}

.day {
  &__header {
    &--1 {
      color: red;
    }
    &--2 {
      color: orange;
    }
    &--3 {
      color: yellow;
    }
    &--4 {
      color: green;
    }
    &--5 {
      color: blue;
    }
  }
  &__header::after {
    background: red;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 16px;
    margin-left: 4px;
    width: 16px;
  }
  &__header::before {
    background: green;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 16px;
    margin-right: 4px;
    width: 16px;
  }
  &__link {
    color: #eb5e28;
    text-decoration: none;
  }
}

.diary {
  &__days {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    @media (max-width: 640px) {
      grid-template-columns: 1fr;
    }
  }
  &__header {
    color: #252422;
  }
}

.footer {
  &__link {
    bottom: 10px;
    color: #eb5e28;
    position: fixed;
    right: 10px;
    text-decoration: none;
  }
}

.hobby {
  &__header {
    color: #252422;
  }
  &__list {
    list-style: none;
    padding: 0;
  }
}

.main {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-areas: "header header" "about content";
  margin: 32px auto;
  max-width: 700px;
  padding-top: 50px;
  &__header {
    color: #eb5e28;
    grid-area: header;
  }
  &__heading {
    &--red {
      color: darkred;
    }
  }
  @media (max-width: 640px) {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "about" "content";
  }
}

.navigation {
  &__item {
    margin: 0 16px;
    @media (max-width: 640px) {
      margin: 16px;
    }
  }
  &__link {
    color: #eb5e28;
    text-decoration: none;
    &:visited {
      color: #ccc;
    }
    &:hover {
      color: green;
    }
  }
  &__list {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    @media (max-width: 640px) {
      display: none;
      flex-direction: column;
    }
    &--visible {
      @media (max-width: 640px) {
        display: flex;
      }
    }
  }
  &__switcher {
    border: none;
    background: none;
    color: #eb5e28;
    display: none;
    @media (max-width: 640px) {
      display: block;
      position: absolute;
      right: 16px;
      top: 16px;
      padding: 0;
      margin: 0;
    }
  }
}

.site-header {
  background: #fefefe;
  padding: 16px 0;
  position: fixed;
  top: 0;
  width: 100%;
  @media (max-width: 640px) {
    min-height: 48px;
  }
}
